body {
    background-color: rgb(37, 35, 34);
    font-family: 'Noto Sans JP', sans-serif;
    
}

#registration_title {
    color: antiquewhite;
    font-size: 29px;
    margin-left: 170px;
}
.form-container {
    width: 1px; 
    height: 100%;
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 10px;
    
}

.create-account {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/01/23/59/texture-2110017_1280.jpg");
    height: 85%;
    width: 50%;
    margin-left: 29%;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 15px;
    color: antiquewhite;
}
.username {
    width: 285px;
    height: 48px;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;
    margin-left: 95px;
}

.password {
    width: 285px;
    height: 48px;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;
    margin-left: 95px;
    white-space: nowrap;
}

.email {
    width: 285px;
    height: 48px;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;
    margin-left: 95px;
    white-space: nowrap;
}

#phone_number {
    width: 285px;
    height: 48px;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;
    margin-left: 95px;
    white-space: nowrap;
}

.registration_form {
    margin-left: 20%;
    width: 40%;
    height: 24%;
}

#create-account {
    height: 35px;
    width: 85px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    margin-left: 79px;
}

button:hover {
    background-color: rgb(240, 220, 199);
}

#registration_button {
    height: 35px;
    width: 85px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    margin-left: 190px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: antiquewhite;
}
