<html>
    <head> 
        <title>Budget</title>
    </head>
    <body>
{% extends 'base.html' %}
{% block title %}Budget{% endblock %}

{% block body %}
<div id="budget">
    <div id="budget">
        <h1>Budget App</h1>
        <form id="budget-form" method="POST" action="/calculate_total">
            <div id="income-fields">
                {% if budget_list | length > 0 %}
                   {% for budget in budget_list %}
                        {% if budget.type == "income" %}
                            <label for="income-loop">Income:</label>
                            <input type="text" name="user_input_{{ loop.index }}" value="{{ budget.user_income_input or '' }}" placeholder="Please enter name">
                            <input type="number" name="income_{{ loop.index }}" class="income-input" value="{{ budget.income or '' }}" placeholder="Please enter amount">
                            <button type="button" name="delete_income_{{ loop.index }}" onclick="deleteBudget(event)" data-budget-id="{{ budget.budget_id }}">Delete</button>
                        {% endif %}
                   {% endfor %}
                {% else %}
                    <label for="income"> Income:</label>
                    <input type="text" name="new_user_input" value="{{ user_input or '' }}" placeholder="Please enter name">
                    <input type="number" name="new-income" class="income-input" value="{{ income or '' }}" placeholder="Please enter amount">
                {% endif %}
            </div>
            <button type="button" onclick="addIncomeField()">Add</button>
            <div id="expense-fields">
                {% if budget_list | length > 0 %}
                    {% for expense_loop in budget_list %}
                        {% if expense_loop.type == 'expense' %}
                            <label for="expense">Expense:</label>
                            <input type="text" name="user_expense_input_{{ loop.index }}" value="{{ expense_loop.user_expense_input or '' }}" placeholder="Please enter name">
                            <input type="number" name="expense_{{ loop.index }}" class="expense-input" value="{{ expense_loop.expense or '' }}" placeholder="Please enter amount">
                            <button type="button" onclick="deleteBudget(event)" data-budget-id="{{ expense_loop.budget_id }}">Delete</button>
                            {% if expense_loop.account_history is not none %}
                                <button type="button" data-account-history-id="{{ expense_loop.account_history }}"  onclick"accountInformationButton(event)">Account Information</button>
                            {% endif %}
                        {% endif %}    
                    {% endfor %}
                {% else %}
                    <label for="expense">Expense:</label>
                    <input type="text" name="new_expense_user_input" value="{{ user_expense_input or '' }}" placeholder="Please enter name">
                    <input type="number" name="new-expense" class="expense-input" value="{{ expense or '' }}" placeholder="Please enter amount">
                    
                {% endif %}
            </div>
            <div id="user_input_expenses">    
                <button type="button" onclick="addExpenseField()">Add</button>
            </div>
            <div id="account_button">
                <button type="button" onclick="goToNewAccountHistory()" class="account_history_button">Add Account Information</button>
            </div>     
            <div id="remaining_balance">
                <h2>Remaining Balance: $<span id="remaining_total">{{ remaining_balance }}</span></h2>
                <button type="submit">Calculate Remaining Balance</button>
            </div>    
        </form>
    </div>
    <div class="navbar">
        <form action="{{ url_for("logout") }}" method="POST">
            <button type="submit">Logout</button>
        </form>    
    </div>               
</div> 

{% endblock %}

        
    </body>
</html>