<html>
    <head> 
        <title>Budget</title>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
{% extends 'base.html' %}
{% block title %}Budget{% endblock %}

{% block body %}
<div id="budget">
    <div id="budget">
        <h1>Budget App</h1>
        <form id="budget-form" method="POST" action="/calculate_total">
            <div id="income-fields">
                {% if incomes | length > 0 %}
                    ()
                {% else %}     
                    <label for="income">Income:</label>
                    <input type="text" name="user_input" value="{{ user_input or '' }}" placeholder="Enter an amount">
                    <input type="number" name="income" class="income-input" value="{{ income or '' }}">
                    <button type="button" onclick="deleteIncome()">Delete</button>
                {% endif %}
            </div>
            <button type="button" onclick="addIncomeField()">Add</button>
            <div id="expense-fields">
                <label for="expense">Subtract Expense:</label>
                <input type="text" name="expense_user_input" value="{{ expense_user_input or '' }}" placeholder="Please enter name">
                <input type="number" name="expenses" class="expense-input" value="{{ expenses_total or '' }}">
                <button type="button" onclick="deleteExpense()">Delete</button>
            </div>
            <div id="user_input_expenses">    
                <button type="button" onclick="addExpenseField()">Add</button>
            </div>
            <div id="remaining_balance">
            </div>    
                <h2>Remaining Balance: $<span id="remaining_total">{{ remaining_balance }}</span></h2>
            <button type="submit">Calculate Remaining Balance</button>
        </form>
    </div>           
</div> 

{% endblock %}

        
    </body>
</html>