{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}

<h2>Create an Account</h2>
<form action="/users" method="POST">
    <div class="create-account">
        <div class="form-container">
            <h1>Registration</h1>
            <form action="/create-page" method="POST">
                {{ registration_form.username.label }}
                {{ registration_form.username(id="username") }}
                {{ registration_form.password.label }}
                {{ registration_form.password(id="password") }}
                {{ registration_form.confirm_password.label }}
                {{ registration_form.confirm_password(id="password") }}
                {{ registration_form.submit }}
        </div>
    </div>

{% endblock %}  
