{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}

<h2>Create an Account</h2>
<form action="/users" method="POST">
    <div class="create-account">
        <p>
            Username <input type="text" name="username">
        </p>
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Verify Email <input type="text" name="verify-email">
        </p>
        <p>
            Password <input type="password" name="password">
        </p>
        <p>
            Verify Password <input type="text" name="verify-password">
        </p>
        <p>
            Phone Number <input type="text" name="phone-number">
        </p>
        <p>   
         <input type="submit">
        </p>
    </div>

{% endblock %}  
