{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <img src="">

   <ul>
    <a href="/">How it Works</a>
    <a href="/">Contact</a>
  </ul>
  <form action="/users" method="POST">
</form>
<div id="login">
    <h2>Login</h2>
    <form action="/login" method="POST">
       {{ login_form.username.label }}
       {{ login_form.username(id="username") }}
       {{ login_form.password.label }}
       {{ login_form.password(id="password") }}
       {{ login_form.remember_me.label }}
       {{ login_form.remember_me }}
       {{ login_form.submit }}
       <button id="create-account" type="button" onclick="create-account" href="http://localhost:6287/create-page/">Register</button>  
    </form>        
</div> 
         
{% endblock %}