{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
  <img src="">

   <ul>
    <a href="/">How it Works</a>
    <a href="/">Contact</a>
  </ul>
  <form action="/users" method="POST">
</form>
<div id="login">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
        <p class="user-info">
            <button>Forgot Username</button>
            <button>Forgot Password</button>
            <button>Create Account</button>
        </p>    
</div>       
    </form>        
{% endblock %}